:root{
    --back: rgb(230, 230, 230);
    --font: black;
}
body{
    background-color: var(--back);
    color:var(--font);
}
#title{
    text-align: center;
    font-size: 40pt;

}
#buttons{
    display: flex;
    justify-content: center;
}
#sigmadiv{
padding-top: 50px;
}
button{
    border-radius: 15px;
    width: 100%;
    max-width: 200px;
    height: 50px;
    border: none;
    margin-bottom: 10px;
    font-size: 13pt;
}
#openmisc{
    background-color: #23a0ff;
    color:var(--font);
    
}
#openmisc:hover{
    background-color: #116bb1;
    color:var(--font);
}
#openmain{
    background-color: #00ce59;
    color:var(--font);
}
#openmain:hover{
    background-color: #22ae5f;
    color:var(--font);
}