:root{
    --back: rgb(230, 230, 230);
    --font: black;
    --res: rgb(230, 230, 230);
    --themeicon: white;
}
body{
    background-color: var(--back);
    color:var(--font);
    font-family: Arial, Helvetica, sans-serif;
}
#title{
    text-align: center;
    font-size: 40pt;

}
#buttons{
    display: flex;
    justify-content: center;
}
#sigmadiv{
padding-top: 50px;
}
button{
    border-radius: 15px;
    width: 100%;
    max-width: 200px;
    height: 50px;
    border: none;
    margin-bottom: 10px;
    font-size: 13pt;
}
#openmisc{
    background-color: #23a0ff;
    color:var(--font);
    
}
#openmisc:hover{
    background-color: #116bb1;
    color:var(--font);
}
#openmain{
    background-color: #00ce59;
    color:var(--font);
}
#openmain:hover{
    background-color: #22ae5f;
    color:var(--font);
}
#res{
    border-radius: 100%;
    width: 50px;
    height: 50px;
    box-shadow: 0px 0px 10px var(--font);
    position: fixed;
    top: 10px;
    right: 10px;
    background-color: var(--res);
    border: none;
    color: var(--themeicon);
}
.material-symbols-outlined{
    position: relative;
    top:3px;
}