:root{
    --back: rgb(230, 230, 230);
    --font: black;
    --tile: rgb(200, 200, 200);
    --res: white;
    --themeicon: white;
}
div{
    border-style: none;
}
#tile{
    background-color: var(--tile);
    width: 200px;
    height:250px;
    border-radius: 20px;
    margin: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
img{
    width: 200px;
    height: 200px;
    border-style: none;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}
.sigma{
    width: 100%;
    text-align: center;
    position: relative;
    bottom: 5px;
    font-size: 15.5pt;
}
body{
    background-color: var(--back);
    color: var(--font);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}
#res{
    border-radius: 100%;
    width: 50px;
    height: 50px;
    box-shadow: 0px 0px 10px;
    position: fixed;
    top: 10px;
    right: 10px;
    background-color: var(--res);
    border: none;
    color: var(--themeicon);
}